{% import "@SetonoSyliusShopTheLookPlugin/common/macro/money.html.twig" as money %}

{# @var \Setono\SyliusShopTheLookPlugin\Model\LookInterface look #}

<div class="ui fluid card" {{ sylius_test_html_attribute('look') }}>
    <a href="{{ path('setono_sylius_shop_the_look_shop_look_show', {'slug': look.slug, '_locale': look.translation.locale}) }}" class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% include '@SetonoSyliusShopTheLookPlugin/shop/look/_mainImage.html.twig' with {'look': look} %}
    </a>
    <div class="content" {{ sylius_test_html_attribute('look-content') }}>
        <a href="{{ path('setono_sylius_shop_the_look_shop_look_show', {'slug': look.slug, '_locale': look.translation.locale}) }}" class="header setono-look-name" {{ sylius_test_html_attribute('look-name', look.name) }}>{{ look.name }}</a>
        <div class="setono-look-price" {{ sylius_test_html_attribute('look-price') }}>
            {% if look.discount > 0 %}
                <strike>{{ money.calculateLookPrice(look) }}</strike>
            {% endif %}
            {{ money.calculateLookTotal(look) }}
        </div>
    </div>
</div>
