{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{{ sylius_template_event('setono_sylius_shop_the_look.shop.look.index.before_list', {'looks': resources.data}) }}

{% if resources.data|length > 0 %}
    <div class="ui three cards" id="looks" {{ sylius_test_html_attribute('looks') }}>
        {# @var \Setono\SyliusShopTheLookPlugin\Model\LookInterface look #}
        {% for look in resources.data %}
            {% include '@SetonoSyliusShopTheLookPlugin/shop/look/_box.html.twig' %}
        {% endfor %}
    </div>
    <div class="ui hidden divider"></div>

    {{ sylius_template_event('setono_sylius_shop_the_look.shop.look.index.before_pagination', {'looks': resources.data}) }}

    {{ pagination.simple(resources.data) }}
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display') }}
{% endif %}
