{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}
{% form_theme form.images '@SetonoSyliusShopTheLookPlugin/admin/look/imagesTheme.html.twig' %}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            <div class="two fields">
                {{ form_row(form.code) }}
                {{ form_row(form.position) }}
            </div>
            {{ form_row(form.enabled) }}
        </div>
        <div class="ui segment">
            <h3 class="ui dividing header">{{ 'setono_sylius_shop_the_look.form.look.discount'|trans }}</h3>
            <br>
            {{ form_row(form.percentageDiscount) }}
        </div>
        <div class="ui segment">
            <h3 class="ui dividing header">{{ 'setono_sylius_shop_the_look.form.look.parts'|trans }}</h3>
            <br>
            {{ form_row(form.parts, {'label': false}) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {{ translationForm(form.translations) }}
        </div>
    </div>
</div>

<div class="ui segment">
    <h3 class="ui dividing header">{{ 'setono_sylius_shop_the_look.form.look.images'|trans }}</h3>
    <br>
    {{ form_row(form.images, {'label': false}) }}
</div>
